<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3.3" targetFramework="net461" />
  <package id="Spire.Doc" version="8.1.10" targetFramework="net461" />
  <package id="Spire.Office" version="5.1.1" targetFramework="net461" />
  <package id="Zen.Barcode.Rendering.Framework" version="3.1.10729.1" targetFramework="net461" />
</packages>